.flex-fight {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.info-fight {
  width: 40%;
}

.poke-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;
  max-height: 90vh;
  overflow-y: scroll;
}

.card {
  width: 200px;
  margin: 20px 5px 0px 5px;
  height: 40px;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-color: #00a068;
}

.card:hover {
  transform: scale(1.05);
}

.poke-name {
  color: black;
}
